/* Header */

.page-header {
  .container {
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }
}

.page-header {
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.border {
  border-bottom: 1px solid rgba(236, 236, 236, 1);
}
