/* Our-team */

// .our-team__title {
//   color: var(--title-text-color);
//   list-style: none;
//   font-weight: 500;
//   font-size: 16px;
//   line-height: 1.19;
//   margin-top: 0px;
//   margin-bottom: 0px;
//   text-align: center;
//   margin-right: 0px;
//   margin-left: 0px;
// }

// .our-team__caption {
//   padding: 30px;
// }

// .our-team {
//   display: flex;
//   flex-wrap: wrap;
// }

// .our-team__item {
//   width: calc((100% - 30px * 3) / 4);
//   margin-right: 30px;
//   background-color: var(--primary-wight-color);
//   box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
//     0px 2px 1px rgba(0, 0, 0, 0.2);
//   border-radius: 0px 0px 4px 4px;
//   &:nth-child(4n) {
//     margin-right: 0;
//   }
// }

// .our-team__text {
//   font-weight: normal;
//   font-size: 16px;
//   line-height: 1.19;
//   color: var(--primary-text-color);
//   margin-top: 10px;
//   margin-bottom: 0px;
//   text-align: center;
// }

// .team-block {
//   background-color: #f5f4fa;
// }

@media screen and (min-width: 480px) {
  .our-team {
    min-width: 480px;
    justify-items: center;
    .our-team__item {
      &:nth-child(4n) {
        margin-bottom: 0;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .our-team {
    min-width: 768px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin-bottom: 0;
    justify-items: center;
    .our-team__item {
      margin-bottom: 0;
    }
  }
}

@media screen and (min-width: 1200px) {
  .our-team {
    min-width: 1200px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    justify-items: center;
  }
}

.our-team__title {
  color: var(--title-text-color);
  list-style: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 0px;
}

.our-team__caption {
  padding-top: 30px;
}

.our-team__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary-wight-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-bottom: 30px;
}

.our-team__text {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  color: var(--primary-text-color);
  margin-top: 10px;
  margin-bottom: 0px;
  text-align: center;
}

.team-block {
  background-color: #f5f4fa;
}
